body {
	background-image: url('../img/bg.jpg');
	background-size: inherit;
}
.nav.topbar {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
}

header > h5 {
	color: #fff;
	position: absolute;
	top: 13px;
}

header > h5 > img {
	width: 24px;
	opacity: 0.8;
}

.card-subtitle {
	text-align: center;
	color: #9a9a9a;
	margin-bottom: 10px;
}

#reservation > .input-group.mb-3 {
	width: 100%;
}

.resa h5 {
	margin-bottom: 5px!important;
	text-align: left!important;
}

.card.input {
	
	border:none;
}

.card.input h5 {
	
	margin-bottom: 5px!important; 	
}

.card.input p {
	
	text-align: center;
	color: #9a9a9a;
	font-size: 13px;
}


.resa ul {
	padding: 0;
}

.resa ul>li {
	list-style-type: none;
}



header > ul > li > a {
	color: #fff;
}

h1 {
	text-align: center;
	margin-top: 20px;
}

.btn.btn-primary.text-center {
	width: 100%;
	margin-top: 20px;
}	

.card.w-20 {
	
  -webkit-box-flex: 0;
  -ms-flex: 0 0 13%;
  flex: 0 0 13%;
  max-width: 13%;

}

.card-content {
	display: flex;
}

.card-content > img {
	width: 220px;
}

.card-content > ul > li {
	list-style-type: none;
}


.card.w-50 {
	margin:auto;
}

.card-body > h5 {
	text-align: center;
	margin-bottom: 40px;
}

.container > .card.calendrier {
	padding: 25px;	
	max-height: 800px;
	overflow-y: scroll;
}

.col-sm > h5 {
	text-align: center;
	margin-bottom: 40px;
} 
.inner-addon { 
    position: relative; 
}

.modal-body > form > .modal-footer  {	
	width: 100%;
}


.modal-body > form > ul  {
	padding: 12px 0;
	width: 100%;
}

.modal-body > form > ul >li {
	list-style-type: none;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }