.nav.topbar {
	margin: auto;
}

h1 {
	text-align: center;
	margin-top: 20px;
}

.card.w-50 {
	margin:auto;
}

.card-body > h5 {
	text-align: center;
}

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }